.postContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.postBackground {
  display: inline-block;
  background-color: rgb(50, 50, 50);
  height: 200px;
}

.postImage {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.postImage:hover {
  transform: rotate(-3deg);
}

.postId {
  display: inline-block;
}
